.card {
    height: 350px;
    width: 270px;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    flex-direction: column;
    cursor: pointer;
    transition: all .3s ease-out;
}

.card.normal {
    background-color: rgb(210, 210, 210);
}

.card.fire {
    background-color: rgb(255, 0, 0);
}

.card.grass {
    background-color: green;
}

.card.water {
    background-color: blue;
}

.card.dark {
    background-color: rgb(50, 50, 50);
}

.card.poison {
    background-color: magenta;
}

.card.ice {
    background-color: cyan;
}

.card.rock {
    background-color: rgb(145, 54, 29);
}

.card.ground {
    background-color: rgb(231, 119, 39);
}

.card.electric {
    background-color: yellow;
}

.card.psychic {
    background-color: blueviolet;
}

.card.bug {
    background-color: rgb(37, 225, 16);
}

.card.fighting {
    background-color: rgb(140, 21, 21);
}

.card.ghost {
    background-color: rgb(58, 17, 92);
}

.card.dragon {
    background-color: midnightblue;
}

.card.fairy {
    background-color: pink;
}

.card.flying {
    background-color: rgb(138, 237, 237);
}

.card.steel {
    background-color: darkgray;
}

.card.position0 {
    transform: translate(0, 2%);
}

.card.position0:hover {
    transform: translate(0, -10%) scale(1.2, 1.2);
    z-index: 100;
}

.card.position1 {
    transform: translate(150%, 25%) rotate(-25deg);
}

.card.position1:hover {
    transform: translate(150%, -10%) rotate(-5deg) scale(1.2, 1.2);
    z-index: 100;
}

.card.position2 {
    transform: translate(90%, 12%) rotate(-12deg);
}

.card.position2:hover {
    transform: translate(90%, -10%) rotate(-5deg) scale(1.2, 1.2);
    z-index: 100;
}

.card.position3 {
    transform: translate(30%, 5%) rotate(-5deg);
}

.card.position3:hover {
    transform: translate(30%, -10%) rotate(-5deg) scale(1.2, 1.2);
    z-index: 100;
}

.card.position4 {
    transform: translate(-30%, 5%) rotate(5deg);
}

.card.position4:hover {
    transform: translate(-30%, -10%) rotate(5deg) scale(1.2, 1.2);
    z-index: 100;
}

.card.position5 {
    transform: translate(-90%, 12%) rotate(12deg);
}

.card.position5:hover {
    transform: translate(-90%, -10%) rotate(5deg) scale(1.2, 1.2);
    z-index: 100;
}

.card.position6 {
    transform: translate(-150%, 25%) rotate(25deg);
}

.card.position6:hover {
    transform: translate(-150%, -10%) rotate(5deg) scale(1.2, 1.2);
    z-index: 100;
}

.card.card.position7 {
    position: absolute;
    top: 0;
}

.card.card.position7:hover {
    position: absolute;
    top: 0;
    transform: translate(0, 5%) scale(1.1, 1.1);
}

.card .title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    gap: 10px;
    overflow: hidden;
}

.card h1 {
    font-size: 22px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card .title p {
    white-space: nowrap;
}

.card h2 {
    padding: 0 10px;
}

.card img {
    width: 220px;
    height: auto;
    padding: 0 25px 10px;
}

.card .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card .stat {
    white-space: nowrap
}