.game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.game .hand {
    width: 70%;
    padding-left: 15%;
    height: 90%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    align-items: flex-end;
}

.game .hand .addCard{
    position: absolute;
    bottom: 320px;
    right: 0;
    height: 50px;
    width: 50px;
    font-size: 35px;
    border-radius: 50%;
    cursor: pointer;
}